h1 {
    color:aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}

p {
    color:blueviolet;
    font-size: 20px;
    font-family: fantasy;
}